@charset "utf-8";
html {
	height: 100%;
	margin: 0px;
}

body {
	background-image: url("imgs/website background.png"), url("imgs/tilex.png"), url("imgs/tiley.png");
	background-repeat: no-repeat, repeat-x, repeat;
	background-position: right, left, bottom;
	height: 100%;
	margin: 0px;
}

a[href]:link {
	color: rgba(100,100,100,1);
}

a[href]:visited {
	color: rgba(200,200,200,1);
}

a[href]:hover {
	color: rgba(255,255,255,1);
}

a[href]:active {
	color: rgba(100,100,100,1);
}

.logo {
	display: flex;
    width: 25%;
	margin-left: auto;
    margin-right: auto;
}

.logo img {
    position: relative;
	width: 100%;
	height: auto;
}

.UI {
	position: relative;
	height: 100%;
	width: 100%;
}

.navbar {
 	background-color: #000;
 	overflow: hidden;
	opacity: 0.8;
	text-align: center;
	display: flex;
	position: relative;
	height: 75px;
	width: 100%;
	box-shadow:  0 0 100px  rgba(0,0,0,1);
	margin: 0;
}

.navbar button {
	display: block;
	opacity: 0.8;
	background-color: #000;
	color: white;
	border: 0px solid white;
	text-decoration: none;
	font-size: 42px;
}

#leftScroll {
	background: rgba(0,0,0,0.8);
	position: absolute;
	display: block;
	z-index: 2;
	float: left;
	width: 12.5%;
    height: 100%;
	text-align: left;
}

#leftScroll:hover {
	color: rgba(255,255,255,0.3);
}

#rightScroll {
	background: rgba(0,0,0,0.8);
	position: absolute;
	display: block;
	width: 12.5%;
	right: 0;
	z-index: 2;
	float: right;
	text-align: right;
    height: 100%;
}

#rightScroll:hover {
	color: rgba(255,255,255,0.3);
}

.scrollContainer {
	position: absolute;
	width: 86%;
	left: 6%;
	z-index: -1;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: -16px;
	-webkit-overflow-scrolling: touch;
	border-style: none solid;
    border-color: rgba(255,255,255,1);
	border-width: 4px;
	border-radius: 4px;
}

.buttonContainer {
	position: absolute;
	width: 86%;
	left: 6%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	z-index: -1;
	-webkit-overflow-scrolling: touch;
	border-style: none solid;
    border-color: rgba(255,255,255,1);
	border-width: 4px;
	border-radius: 4px;
}

.buttonContainer::-webkit-scrollbar { width: 0 }

.buttonContainer button {
	position: relative;
	border-style: none double;
    border-color: rgba(255,255,255,1);
	border-width: 2px;
	border-radius: 4px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 14px 8%;
	width: 100%;
	height: 75px;
    transition: 0.3s;
	opacity: .8;
	cursor: pointer;
}

.buttonContainer button:hover {
	opacity: .3;
	background-color: #1A1A1A;
	color: white;
}

.buttonContainer::-webkit-scrollbar { width: 0 }

.photoButton, .musicButton, .threedButton {
	flex: 0 0 auto;
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	text-align: center;
	width: 34%;
}

.panels {
	height: 100%;
}

.sidePanel {
	display: none;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	font-size: 32px;
	opacity: 0.8;
	z-index: 2;
	border-style: none solid none none;
	border-radius: 0px 15px 15px 0px;
	border-color: rgba(255,255,255,0.80);
	border-width: 3px;
	margin: 0;
	width: 34.5%;
	height: 100%;
	background-color: #000000;
	box-shadow:  0 0 100px  rgba(0,0,0,1);
}

.sidePanel ul {
	color: rgba(100,100,100,1);
	border-style: single;
	list-style-type: none;
	line-height: 200%;
	margin-top: 10px;
}

.sidePanel li {
	marigin: 10px 0px;
}

.testPanel li {
	marigin: 10px 0px;
}

.sidePanel li:hover {
	color: rgba(30,30,30,0.5);
}

.sidePanel li.active {
	list-style-type: circle;
}

.sidePanel a:link {
	color: rgba(200,200,200,1);
}

.sidePanel a:visited {
	color: rgba(200,200,200,1);
}

.sidePanel a:hover {
	color: rgba(30,30,30,0.5);
	list-style-type: none;
}

.sidePanel a:active {
	color: rgba(100,100,100,1);
}

.content {
	position: absolute;
	float: right;
	width: 60%;
	height: auto;
	top: 95px;
	left: 36%;
	display: none;
}

#aboutContainer {
	position: absolute;
	width: 88%;
	height: 1000px;
	top: 125px;
	margin: 0px 6%;
	left: auto;
}

#musicContainer iframe {
	background-color: rgba(0,0,0,0);
	opacity: 0.8;
}

.thumbnail {
	position: relative;
	width: 33%;
    height: 150%;
	z-index: 0;
    overflow: hidden;
	float: left;
}

.thumbnail img {
	max-width: 100%;
	height: auto;
}

.border {
	position: absolute;
	max-width: 100%;
	height: auto;
	border-style: double;
	border-width: 5px;
}

.textwrapper {
	position: relative;
	left: 40px;
}

.textwrapper h1 {
	text-align: center;
}

.textwrapper p {
	margin: 0px;
	text-indent: 40px;
}

.section {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-size: 24px;
	text-align: justify;
	color: rgba(255,255,255,.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#about {
	display: inline-block;
}

#singles {
	display: inline-block;
}

#singles iframe {
	margin: 8px 0;
}

#trailpics {
	display: inline-block;
}

.cumming {
	position: absolute;
	width: 100%;
	padding: 20% 0;
	text-align: center;
	font-size: 100px;
	color: rgba(255,255,255,1);
	text-shadow: 5px 10px 18px black;
}

.pic1 {
	top: 10px;
	position: relative;
	text-align: center;
}

.pic1 img {
	height: auto;
	width: 60%;
}

.skin {
	margin-bottom: 82px;
	border-style: solid solid none solid;
    border-color: rgba(255,255,255,0.8);
	border-width: 2px;
	border-radius: 10px;
}

.sketchfab-embed-wrapper {
	position: relative;
	width: 100%;
	height: auto;
}

.spoiler {
	margin: 18px 0px;
}

.disclaimer {
	font-size: 18px;
	color: rgba(200,30,30,1);
}

.spoilerHead {
	width: 100%;
	display: flex;
	background-color: rgba(0,0,0,0.80);
	border-style: solid;
    border-color: rgba(255,255,255,0.8);
	border-width: 1px;
	border-radius: 10px;
}

.spoilerHead h1 {
	margin: auto 10px;
}

.spoilerToggle {
	margin-left: auto; 
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 100%;
	width: 5%;
}

.spoilerToggle button {
	display: inline-block;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 52px;
	font-weight: bold;
	color: rgba(255,255,255,0.8);
	background-color: rgba(75,75,75,0.3);
	border-style: solid;
    border-color: rgba(200,200,200,1);
	border-width: 1px;
	border-radius: 15px 0px 0px 15px;
}

.spoilerContainer {
	width: 100%;
}

.spoilerContents {
	display: none;
	width: 100%;
	background-color: rgba(0,0,0,0.80);
	border-style: solid;
    border-color: rgba(200,200,200,0.8);
	border-width: 2px;
	border-radius: 10px;
	text-align: center;
}

.spoilerContents img {
	max-width: 100%;
	cursor: pointer;
}

.imgPreview {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 100px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.previewContent {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 2560px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
