@charset "utf-8";
html {
	height: 100%;
	margin: 0px;
}

body {
	background-image: url("imgs/website background.png"), url("imgs/tilex.png"), url("imgs/tiley.png");
	background-repeat: no-repeat, repeat-x, repeat;
	background-position: right, left, bottom;
	height: 100%;
	margin: 0px;
}

a[href]:link {
	color: rgba(100,100,100,1);
}

a[href]:visited {
	color: rgba(200,200,200,1);
}

a[href]:hover {
	color: rgba(255,255,255,1);
}

a[href]:active {
	color: rgba(100,100,100,1);
}

.logo {
	display: flex;
    width: 25%;
	margin-left: auto;
    margin-right: auto;
}

.logo img {
    position: relative;
	width: 100%;
	height: auto;
}

.UI {
	position: relative;
	height: 100%;
	width: 100%;
}

.navbar {
 	background-color: #000;
 	overflow: hidden;
	opacity: 0.8;
	text-align: center;
	display: flex;
	position: relative;
	height: 75px;
	width: 100%;
	box-shadow:  0 0 100px  rgba(0,0,0,1);
}

.navbar button {
	display: block;
	opacity: 0.8;
	background-color: #000;
	color: white;
	border: 0px solid white;
	text-decoration: none;
	font-size: 42px;
}

.buttonContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	z-index: -1;
	-webkit-overflow-scrolling: touch;
}

.buttonContainer button {
	border-style: none double;
    border-color: rgba(255,255,255,1);
	border-width: 2px;
	border-radius: 4px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 14px 8%;
	width: 34%;
    transition: 0.3s;
	opacity: .8;
	cursor: pointer;
}

.buttonContainer button:hover {
	opacity: .3 !important;
	background-color: #1A1A1A !important;
	color: white !important;
}

.buttonContainer::-webkit-scrollbar { width: 0 }

.photoButton, .musicButton, .clothesButton {
	text-decoration: none;
	text-align: center;
}

.scrollContainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	position: absolute;
	align-content: center;
}

.scrollContainer::-webkit-scrollbar {    display: none;}

.content {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 15px 0;
	justify-content: center;
}

#aboutContainer {
	position: absolute;
	width: 88%;
	height: 1000px;
	top: 125px;
	margin: 0px 6%;
	left: auto;
	display: none;
}


#musicContainer iframe {
	background-color: rgba(0,0,0,0);
	opacity: 0.8;
	margin-bottom: 16px;
}

.thumbnail {
	position: relative;
	width: 33%;
    height: 150%;
	z-index: 0;
    overflow: hidden;
	float: left;
}

.thumbnail img {
	max-width: 100%;
	height: auto;
}

.border {
	position: absolute;
	max-width: 100%;
	height: auto;
	border-style: double;
	border-width: 5px;
}

.textwrapper {
	position: relative;
	left: 40px;
}

.textwrapper {
	font-size: 24px;
	text-align: justify;
	color: rgba(255,255,255,.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.textwrapper h1 {
	text-align: center;
}

.textwrapper p {
	margin: 0px;
	text-indent: 40px;
}

.section {
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: rgba(255,255,255,.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: justify;
}

.sectionHead {
	text-decoration: underline;
	font-weight: bold;
}

.cumming {
	position: absolute;
	width: 100%;
	padding: 20% 0;
	text-align: center;
	font-size: 100px;
	color: rgba(255,255,255,1);
	text-shadow: 5px 10px 18px black;
}

.pic1 {
	top: 10px;
	position: relative;
	text-align: center;
}

.pic1 img {
	height: auto;
	width: 60%;
}

.skin {
	display: flex;
	flex-direction: column;
	margin-bottom: 82px;
	border-style: solid solid none solid;
    border-color: rgba(255,255,255,0.8);
	border-width: 2px;
	border-radius: 10px;
}

.itemDescription {
	margin: 0px 10px;
}

.itemDescription a {
	display: inline;
}

.sketchfab-embed-wrapper {
	position: relative;
	width: 100%;
	height: auto;
}

.spoiler {
	margin: 0px 0px 0px;
}

.spoilSpacer {
	height: 26px;
}

.disclaimer {
	font-size: 18px;
	color: rgba(200,30,30,1);
}

.spoilerHead {
	width: 100%;
	display: flex;
	background-color: rgba(0,0,0,0.80);
	border-style: solid;
    border-color: rgba(255,255,255,0.8);
	border-width: 1px;
	border-radius: 10px;
}

.spoilerHead h1 {
	margin: auto 10px;
}

.spoilerToggle {
	margin-left: auto; 
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 100%;
	width: 10%;
}

.spoilerToggle button {
	display: inline-block;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 52px;
	font-weight: bold;
	color: rgba(255,255,255,0.8);
	background-color: rgba(75,75,75,0.3);
	border-style: solid;
    border-color: rgba(200,200,200,1);
	border-width: 1px;
	border-radius: 15px 0px 0px 15px;
}

.spoilerContainer {
	width: 100%;
}

.spoilerContents {
	display: none;
	width: 100%;
	background-color: rgba(0,0,0,0.80);
	border-style: solid;
    border-color: rgba(200,200,200,0.8);
	border-width: 2px;
	border-radius: 10px;
	text-align: center;
}

.spoilerContents img {
	max-width: 100%;
	cursor: pointer;
	transition: 0.3s;
}